@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

.main-background img{
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: white;
}