@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

.main-background img{
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: white;
}

.boxes {
    text-align: center;
    display: inline;
}

.joke-box {
    position:inherit;
    float:left;
    margin-left: 200px;
}

.number-box {
    position:inherit;
    float:right;
    margin-right: 200px;
}

h2 {
    font-size: 40px;
    font-style: bold;
}

h2:hover {
    background-color: red;
}