@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

.main-background img {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: white;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 50px;
}

.center-text2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(217, 214, 233, 0.829);
    text-align: center;
    font-size: 30px;
}

.boxes {
    text-align: center;
    display: inline;
}

.joke-box {
    position: inherit;
    float: left;
    margin-left: 200px;
}

.number-box {
    position: inherit;
    float: right;
    margin-right: 200px;
}

#joke-box:hover {
    background-image: url(../jpg/joke-background.jpeg);
    color: rgb(32, 30, 163);
    font-weight: bold;
}

#number-box:hover {
    background-image: url(../jpg/number-background.jpeg);
    color: rgb(32, 30, 163);
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-style: bold;
}

#prompt-history {
    margin-top: 150px;
    position: absolute;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .joke-box {
        margin-left: 150px;
    }

    .number-box {
        margin-right: 150px;
    }
}

@media screen and (max-width: 1650px), screen and (max-height: 800px) {
    .center-text {
        font-size: 40px;
    }

    .center-text2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1400px) {
    .joke-box {
        margin-left: 120px;
    }

    .number-box {
        margin-right: 120px;
    }
}

@media screen and (max-width: 1300px) {
    .joke-box {
        margin-left: 120px;
    }

    .number-box {
        margin-right: 120px;
    }

    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .joke-box {
        margin-left: 100px;
    }

    .number-box {
        margin-right: 100px;
    }

    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .joke-box {
        margin-left: 80px;
    }

    .number-box {
        margin-right: 80px;
    }
}

@media screen and (max-width:950px), screen and (max-height: 770px) {
    .center-text {
        top: 55%;
        font-size: 35px;
    }

    .center-text2 {
        top: 75%;
        font-size: 18px;
    }
}

@media screen and (max-width: 870px), screen and (max-height: 650px) {
    .center-text {
        top: 60%;
        font-size: 30px;
    }

    .center-text2 {
        top: 80%;
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    .joke-box {
        margin-left: 50px;
    }

    .number-box {
        margin-right: 50px;
    }
}

@media screen and (max-width: 800px), screen and (max-height: 550px) {
    .center-text {
        top: 70%;
        font-size: 20px;
    }

    .center-text2 {
        top: 90%;
        font-size: 10px;
    }
}

@media screen and (max-width: 610px) {
    .boxes{
     text-align: center;
    }

    .joke-box {
        position: relative;
        display:flex;
        margin-left:0%;
    }

    .number-box {
        position: relative;
        display:flex;
        margin-left:0%;
        clear:both;
        float:left;
    }

    #prompt-history {
        margin-top: 180px;
    }
} 

@media screen and (max-height: 500px) {
    .center-text {
        top: 100%;
       
    }

    .center-text2 {
        top: 120%;
    }
}